/*
    /\/\
   /    \
  / /\/\ \
  \/    \/

  Author: Made by Masco
  Github: https://github.com/m4sc0
*/

/* Base Styles */
.rootAnchorPane {
    -fx-background-color: #1C1C1E; /* Dark gray-black */
}

.labelText {
    -fx-text-fill: #D1D1D6; /* Light gray for contrast */
}

.labelSelected {
    -fx-text-fill: #6626c7; /* Bright color for selection */
}

/* Button Styles */
.btns {
    -fx-border-color: #6626c7;
    -fx-text-fill: #D1D1D6;
    -fx-padding: 15;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-background-color: #2C2C2E; /* Slightly lighter than base */
}

.btns:hover {
    -fx-background-color: #6626c7;
    -fx-borderradius: 10;
}

.btns:pressed {
    -fx-border-color: #471185;
    -fx-background-color: #471185;
}

/* Slider Styles */
.slider .track {
    -fx-background-color: #3C3C3E; /* Slightly lighter than button background */
}

.slider .thumb {
    -fx-background-color: #6626c7;
}

/* Chart Styles */
.chart-plot-background {
    -fx-background-color: #1C1C1E;
}
